.header {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.carousel-image {
  border-radius: 15px;
  width: 100%;
  height: 450px; /* Default height for larger screens */
  object-fit: cover; /* Ensures the images maintain aspect ratio and fill the space */
}

.carousel {
  width: 90%; /* Adjusts the size of the carousel */
}

/* Media queries for smaller screens */
@media (max-width: 1024px) {
  .carousel-image {
    height: 350px; /* Adjust height for tablets */
  }
}

@media (max-width: 768px) {
  .carousel-image {
    height: 250px; /* Adjust height for mobile devices */
  }
}

@media (max-width: 480px) {
  .carousel-image {
    height: 200px; /* Further adjust height for very small screens */
  }
}

.header img {
  border-radius: 15px; /* Adds a border radius to the images */
}

/* Additional styles to make the carousel indicators hidden */
.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 2px;
  height: 2px;
  display: none;
}
