.header {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.carousel-image {
  border-radius: 15px;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.carousel {
  width: 90%;
}

.carousel-control-next-icon {
  display: none;
}

@media (max-width: 1024px) {
  .carousel-image {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .carousel-image {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .carousel-image {
    height: 200px;
  }
}

.header img {
  border-radius: 15px;
}

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
